.container{
    color:rgb(247, 247, 243);
    background-color:rgb(8, 228, 37);
    height: 70px;
    font-size: 1cm;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;

}
.listItem{
    display: inline;
    margin-right: 30px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);

}